---
layout: default.liquid
title: My 11ty Sample
pagination: 
    data: collections.post
    size: 3
    alias: posts
    reverse: true
---
<section class="hero">
 <h1 class="title">Hi everyone!</h1> 
 <blockquote><p>And thou, O tower of the flock, the strong hold of the daughter of Zion, unto thee shall it come, even the first
dominion; the kingdom shall come to the daughter of Jerusalem.</p></blockquote>
<cite>Micah 4:8 KJV</cite>  
</section>
<section class="latest-posts">
    <h2 class="subtitle-1">Latest Posts</h2>
    {% for post in collections.recentPosts %}
        <article class="posts">
            <h2>{{ post.data.title }}</h2>
            <p>{{ post.date | postDate }}</p>
            {{ post.data.page.excerpt | md }}
            <a href="{{ post.url }}" class="read-more">Read more</a>
        </article>
    {% endfor %} 
</section>

