<div class="container flex">
<a href="/" class="logo">Laurie Jefferson</a>
<nav class="nav">
<ul role='list' class="nav__list">
    <li><a href="/about" class="nav__link">About</a></li>
    <li><a href="/posts" class="nav__link">Posts</a></li>
    <li><a href="/contact" class="nav__link">Contact</a></li>
</ul>
</nav>
</div>